/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --c-azul-1: rgb(2, 73, 77);
    --c-verde-1: rgb(147, 254, 2);
    --c-verde-2: #d6ff9c;
    --c-preto-1: rgb(0, 0, 0);
    --c-backg-1: #f3f9f2;
    --c-verde-3: #42ff917a;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto'
}

main{
    background-color: #f3f9f2;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
    padding-left: 16px;
}

/* GERAIS PÁGINA */

.titulo{
    display: flex;
    background-color: #02494d;
    background-image: linear-gradient(90deg, #95fe02 30%, #02494d 100%);
    padding: 30px 80px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
}
.titulo img{
    max-width: 50px;
}
.titulo h1{
    margin-left: 20px;
}
.subtitulo{
    display: flex;
    text-transform: uppercase;
    color:#93FE02;
    align-items: center;
}

/* CONTAINER GERAL */

.resumopedido{
    display: grid;
    /* grid-template-columns: minmax(300px, 600px) minmax(300px, 600px); */
    grid-template-columns: 40% 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}
.resumopedido h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
.resumopedido h4{
    font-size: 20px;
}
.resumopedido h2{
    text-transform: uppercase;
    font-weight: 700;
}
.resumopedido p{
    font-size: 18px;
}
.subtitulo img{
    max-width: 40px;
}

/* ITEM 01 */ 

.resumoenderecoentrega{
    grid-column: 1;
    grid-row: 1;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border-radius: 20px;
    padding: 30px;
}
    .ree-dados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 0px 0px 40px;
        margin-top: 50px; 
        border-left: 5px solid #000000;
    }
    .ree-dados p,
    .ree-dados span {
        grid-column: 1;
    }
    .ree-dados button{
        grid-column: 2;
        text-transform: uppercase;
        border: 0px;
        padding: 3px 3px 3px 3px;
        font-weight: bold;
        cursor: pointer;
        background: transparent;
    }
    .rv-dados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: right;
        margin-top: 35px;
        padding: 20px 0px 0px 0px;
    }
    .rv-dados span{
        font-size: 12px;
        text-align: right;
    }
    .rv-dados p,
    .rv-dados span {
        margin-bottom: 20px
    }

/* ITEM 02 */

.resumovalor{
    grid-column: 2;
    grid-row: 1;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border-radius: 20px;
    padding: 30px;
}

/* ITEM 03 */

.resumoprodutoenvio{
    grid-column: 1;
    grid-row: 2;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border-radius: 20px;
    padding: 30px;
}
.produtoficticio{
    display: flex;
    border-left: 5px solid #000000;
    margin-top: 50px;
}
    .pf-foto img{
        max-width: 100%;
        /* margin: 0px 10px; */
    }
    .pf-descricao{
        max-width: 250px;
    }
    .pf-descricao h3{
        font-size: 14px;
    }
    .pf-descricao span{
        font-size: 12px;
    }
    .pf-quant{
        display: grid;
        justify-items: center;
        padding: 0px 10px;
        margin: 0px 10px;
        background:#e2f7c5
    }
    .pf-quant p{
        margin: 5px 0px;
        font-size: 12px;
    }
    .pf-quant span{
        font-size: 20px;
        margin: 10px 0px;
    }
    .pf-quant button{
        grid-column: 1;
        text-transform: uppercase;
        border: 0px;
        padding: 3px 3px 3px 3px;
        font-weight: bold;
        cursor: pointer;
        background: transparent;
    }
    .pf-preco{
        display: grid;
        align-content: space-between;;
        justify-items: right;
        background:#d4d4d4;
        padding: 0px 10px;
        margin: 0px 10px;
    }
    .pf-preco p{
        font-size: 12px;
        margin: 5px 0px;
    }
    .pf-preco span{
        margin: 7px 0px;
        font-size: 20px;
        font-weight: bold;
    }
    
/* ITEM 04 */

.pagamentopix{
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px;
    color:rgb(255, 255, 255);
    background:rgb(2, 73, 77);
    font-weight: bold;
    display: grid;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border-radius: 20px;
    padding: 30px;
}
.pagamentopix button{
    margin-top: 10px;
    border: none;
    width: 50%;
    height: 50px;
    color:rgb(2, 73, 77);
    font-weight: bold;
    border-radius: 5px;
    background-color: #93FE02;
    font-size: 16px;
    justify-self: center;
    cursor: pointer;    
}
.pagamentopix button:nth-child(5){
    margin-top: 10px;
    border: none;
    width: 50%;
    height: 50px;
    color:#02494D;
    font-weight: bold;
    border: 4px solid #02494D;
    border-radius: 7px;
    background-color: #ffffff;
    font-size: 16px;
}
.pagamentopix span,
.pagamentopix p{
    text-align: right
}
.pagamentopix span{
    text-decoration: line-through;
}
/* ITEM 05 */

.escolhatipoenvio{
    grid-column: 1;
    grid-row: 3;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border-radius: 20px;
    padding: 30px;
}
.ete-escolhafretes{
    margin-top: 50px;
}
.ete-ef-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ete-ef-item p{
    font-size: 12px;
}
.ete-ef-item div{
    font-size: 16px;
    font-weight: bold;
}
.ete-ef-item span{
    font-weight: bold;
}

/* ITEM 06 */

.cupomdesconto{
    grid-column: 1;
    grid-row: 4;
    margin-top: 50px;
    box-shadow: 2px 2px 3px rgb(187, 187, 187);
    border-radius: 20px;
    padding: 30px;
    justify-content: center;
}

.cupomdesconto input{
    width: 100%;
    max-width: 500px;
    height: 42px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.cupomdesconto button{
    margin-top: 10px;
    margin-left: 75px;
    border: none;
    width: 30%;
    height: 40px;
    color:rgb(147, 254, 2);
    background-color: #02494D;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.cupomdesconto div{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* MODAL ESQUECI MINHA SENHA */

.modal-container{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container.ativo{
    display: flex;
}
.modal{
    background: white;
    min-width: 300px;
    padding: 40px;
    min-height: 150px;
    box-shadow: 0 0 0px 10px white;
    position: relative;
    border-radius: 10px;
}
.modal h2{
    padding: 0px;
}
@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.ativo .modal{
    animation: modal .3s forwards;
}
.fechar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    top: -30px;
    right: -30px;
    position: absolute;
    background: var(--c-azul-1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.modal button[type="button"]{
    background: var(--c-azul-1);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}
.content-modal input{
    display: block;
    margin: 5px 0px;
    height: 41px;
    width: 250px;
    border: 2px solid var(--c-azul-1);
    border-radius: 5px;
}
.content-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal input:nth-child(1){
    margin-top: 20px;
}
.content-modal input::-webkit-input-placeholder{
    font-size: 1rem;
}


/* RESPONSIVIDADE */

@media (max-width: 1300px) {
    #mini-banner {
        display: none;
    }
    #newsletter {
        display: none;
    }
}
@media (max-width: 900px) {  
}   
@media (max-width: 700px) {
    .resumopedido {
        grid-template-columns: minmax(300px, 500px);
    }
    .resumovalor {
        grid-column: 1;
        grid-row: 4;
    }
    .resumoprodutoenvio {
        grid-column: 1;
        grid-row: 2;
    }
    .pagamentopix {
        grid-column: 1;
        grid-row: 5;
    }
    .escolhatipoenvio {
        grid-column: 1;
        grid-row: 3;
    }
    .cupomdesconto {
        grid-column: 1;
        grid-row: 6;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    

}
@media (max-width: 550px) {
}