/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --c-azul-1: rgb(2, 73, 77);
    --c-verde-1: rgb(147, 254, 2);
    --c-verde-2: #d6ff9c;
    --c-preto-1: rgb(0, 0, 0);
    --c-backg-1: #f3f9f2;
    --c-verde-3: #42ff917a;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto'
}

main{
    background-color: var(--c-backg-1);
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
    padding-left: 16px;
}

/* MEUS DADOS */

.titulo{
    display: flex;
    background-color: #02494d;
    background-image: linear-gradient(90deg, #95fe02 30%, #02494d 100%);
    padding: 30px 80px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
}
.titulo img{
    max-width: 50px;
}
.titulo h1{
    margin-left: 20px;
}
.meusdados img,
.dadosbasicos img,
.endereco img{
    width: 30px;
}
.db-dados img{
    width: 15px;
}

/* ITEM 01 */
.meusdados{
    display: grid;
    max-width: 1100px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
    gap: 30px;
}
.dadosbasicos{
    grid-column: 1;
    max-width: 500px;
}
.dadosbasicos button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.dadosbasicos button img{
    width: 25px;
    margin-right: 20px;
} 
.db-titulo2{
    display: flex;
    width: 100%;
    background: #95fe02 ;
    justify-content: start;
    border-radius: 10px;
    padding: 5px 10px;
}
.db-dados{
    display: grid;
    margin-top: 30px;
    background: #95fe02;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    /* width: 300px; */
}
.db-dados div{
    width: 100%;
    margin-top: 10px;
}
.db-dados div{
    font-weight: bold;    
}
.db-dados div input{
    width: 90%;
    padding: 10px;
    border-color: var(--c-azul-1)
}
.db-dados div input[type=radio]{
    width: 5%;
}
.db-dados div input[type=checkbox]{
    width: 5%;
}
.db-dados div input[type=radio] + label{
    font-size: 14px;
}
.botaosalvar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaosalvar button{
    margin-top: 20px;
    border: none;
    width: 63%;
    height: 50px;
    color:rgb(147, 254, 2);
    border-radius: 5px;
    background-color: #02494D;
    font-size: 20px;
    font-weight: bold;
    justify-self: center;
    cursor: pointer;    
}
.botaosalvar button:hover{
    transform: scale(1.1);
}
/* .botaosalvar input + label:hover {
    transform: scale(1.1);
} */
.ed-titulo2{
    display: flex;
    background: #95fe02;
    width: 100%;
    justify-content: start;
    border-radius: 10px;
    padding: 5px 10px;
}
.endereco{
    grid-column: 2;
    width: 100%;
    max-width: 500px;
}
.ed-principal{
    display: grid;
    width: 100%;
    margin-top: 30px;
    margin-top: 30px;
    background-color: #95fe02;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}
.ed-principal div{
    width: 100%;
    margin-top: 10px;
    font-weight: bold;   
}
.ed-principal div input{
    width: 100%;
    padding: 10px;
    border-color: var(--c-azul-1)
}
.ed-principal div input[type=radio]{
    width: 5%;
}
.ed-principal div input[type=checkbox]{
    width: 5%;
}
.ed-principal div input[type=radio] + label{
    font-size: 14px;
}
.botaologin button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.botaologin button img{
    width: 25px;
    margin-right: 20px;
} 
.botaologin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.botaologin button{
    margin-top: 20px;
    border: none;
    width: 40%;
    height: 50px;
    color:rgb(147, 254, 2);
    border-radius: 5px;
    background-color: #02494D;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;    
}
.botaologin:hover{
    transform: scale(1.1);
}
.botoesend01{
    align-self: center;
    display: flex;
    justify-content: center;
}
.botoesend01 button{
    padding: 5px;
    margin: 5px;
    border: none;
    width: 60%;
    height: 100%;
    color:rgb(147, 254, 2);
    border-radius: 5px;
    background-color: #02494D;
    font-size: 16px;
    font-style: italic;
    cursor: pointer; 
}
.botoesend01 button:hover{
    transform: scale(1.05);
}

/* MODAL ESQUECI MINHA SENHA */

.modal-container{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container.ativo{
    display: flex;
}
.modal{
    background: white;
    min-width: 300px;
    padding: 40px;
    min-height: 150px;
    box-shadow: 0 0 0px 10px white;
    position: relative;
    border-radius: 10px;
}
.modal h2{
    padding: 0px;
}
@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.ativo .modal{
    animation: modal .3s forwards;
}
.fechar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    top: -30px;
    right: -30px;
    position: absolute;
    background: var(--c-azul-1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.modal button[type="button"]{
    background: var(--c-azul-1);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}
.content-modal input{
    height: 41px;
    width: 250px;
    border: 2px solid var(--c-azul-1);
    border-radius: 5px;
}
.content-modal input::-webkit-input-placeholder{
    font-size: 1rem;
}


/* RESPONSIVIDADE */

@media (max-width: 1300px) {
    #mini-banner {
        display: none;
    }
    #newsletter {
        display: none;
    }
}
@media (max-width: 900px) {  
}   
@media (max-width: 700px) {
    .meusdados {
        grid-template-columns: 1fr;
    }
    .dadosbasicos {
        margin-bottom: 30px;
    }
    .endereco {
        grid-column: 1;
        order: -1;
        margin-top: 30px;
    }
    .titulo {
        display: none;
    }
}
@media (max-width: 550px) {
}