<!DOCTYPE html>
<%- include('../partials/head') %>
<title>Home</title>
</head>

<body>

    <%- include('../partials/header') %>


    <main>
        <img class="background-image-1" src="" alt="">


        <section class="oferta-relampago">

        </section>


    </main>

    <%- include('../partials/footer') %>

</body>

</html>