<!DOCTYPE html>
<%- include('../partials/head') %>
<title>Detalhes do Produto</title>
</head>

<body>

    <%- include('../partials/header') %>

    <%- include('../partials/footer') %>

</body>

</html>