<header>
    <div class="logo">
        <img src="/img/LOGO.png">
    </div>

    <div class="busca">
            <form>
                <label for ="search"></label>
                <input type="text" id="search" name="search" placeholder="Busque Aqui">
            </form>
    </div>

    <div class="login">
        <img src="/img/Vector.png">
        <a href="">Faça <span>login</span> ou crie<br>seu <span>cadastro</span></a>
    </div>

    <div class="navigation">        
        <nav>
            <img class="navigation-img" src="/img/live support agent headset.png">
            <img class="navigation-img" src="/img/Heart.png">
            <img class="navigation-img" src="/img/Vector-1.png">
        </nav>
    </div>
</header>

<section>
    <div class="header-down">
        <div>
            <nav class="all-categories">
                <a href="">Todos os Departamentos</a>
            </nav>
        </div>
        <div>
            <nav class="categories">
                <a href="">Lançamentos</a>
                <a href="">Destaques</a>
                <a href="">Mais Procurados</a>
                <a href="">Ofertas</a>
            </nav>
        </div>
    </div>
</section>