<!DOCTYPE html>
<%- include('../partials/head') %>
<title>Error 404</title>
</head>

<body>

    <%- include('../partials/header') %>
    <h1>Ih, acho que você se perdeu</h1>

    <%- include('../partials/footer') %>

</body>

</html>