<!DOCTYPE html>
<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    <h1>Ih, acho que você se perdeu</h1>

    <%- include('../partials/footer') %>

</body>

</html>