<!DOCTYPE html>
<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <main>
            <section id="banners">
                <div class="banner">
                    <img class="background-image ativo" src="/img/1.png" alt="">
                    <img class="background-image" src="/img/2.png" alt="">
                </div>
                <div class="banner-mobile">
                    <img class="background-image-mobile ativo" src="/img/3.png" alt="">
                    <img class="background-image-mobile" src="/img/4.png" alt="">
                </div>
            </section>

            <section id="carrossel-1">
                <div>
                    <img src="">
                    <h2>OFERTAS RELÂMPAGO</h2>
                </div>

                <div id="cards">
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/mouseft1.jpg" alt="">
                        <h3>Mouse Gamer Redragon Cobra M711 V2</h3>
                        <p class="precoDe">R$ 176,35</p>
                        <p class="precoPor">R$ 99,90</p>
                        <div id="button">
                        <a href="/produtos"><button>COMPRAR AGORA</button></a>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/fonerazerft1.jpg" alt="">
                        <h3>Headset Gamer Razer BlackShark V2 X</h3>
                        <p class="precoDe">R$ 450,71</p>
                        <p class="precoPor">R$ 289,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/ssdft1.jpg" alt="">
                        <h3>SSD Kingston A400, 480GB, SATA</h3>
                        <p class="precoDe">R$ 541,06</p>
                        <p class="precoPor">R$ 299,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/memoriaft1.jpg" alt="">
                        <h3>Memória Gamer Husky Gaming 8GB, DDR4</h3>
                        <p class="precoDe">R$ 300,12</p>
                        <p class="precoPor">R$ 229,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                </div>

            </section>

            <section id="mini-banner">
                <div class="banners-org">
                    <div class="estrutura-cards">
                        <div class="card-mini-banner">
                            <div>
                                <p>OFERTA ESPECIAL DE CONSOLE PS5</p>
                                <p>34% OFF</p>
                            </div>
                            <img src="/img/mini-1.png">
                        </div>
                    </div>
                    <div class="estrutura-cards">
                        <div class="card-mini-banner">
                            <div>
                                <p>MONITOR GAMER COM</p>
                                <p>40% OFF</p>
                            </div>
                            <img src="/img/mini-2.png">
                        </div>
                    </div>
                </div>
            </section>

            <section id="carrossel-1">
                <div>
                    <img src="">
                    <h2>PRODUTOS EM DESTAQUE</h2>
                </div>

                <div id="cards">
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/mouseft1.jpg" alt="">
                        <h3>Mouse Gamer Redragon Cobra M711 V2</h3>
                        <p class="precoDe">R$ 176,35</p>
                        <p class="precoPor">R$ 99,90</p>
                        <div id="button">
                            <a href="/produtos"><button>COMPRAR AGORA</button></a> 
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/fonerazerft1.jpg" alt="">
                        <h3>Headset Gamer Razer BlackShark V2 X</h3>
                        <p class="precoDe">R$ 450,71</p>
                        <p class="precoPor">R$ 289,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/ssdft1.jpg" alt="">
                        <h3>SSD Kingston A400, 480GB, SATA</h3>
                        <p class="precoDe">R$ 541,06</p>
                        <p class="precoPor">R$ 299,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/memoriaft1.jpg" alt="">
                        <h3>Memória Gamer Husky Gaming 8GB, DDR4</h3>
                        <p class="precoDe">R$ 300,12</p>
                        <p class="precoPor">R$ 229,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                </div>
            </section>

            <section id="departamentos">
                <div>
                    <img src="">
                    <h2>DEPARTAMENTOS</h2>
                </div>
                <div class="estrutura-departamentos">
                    <div class="card-departamento">
                        <p>Hardware</p>
                        <img src="/img/image 84.png">
                    </div>
                    <div class="card-departamento">
                        <p>Periféricos</p>
                        <img src="/img/image 85.png">
                    </div>
                    <div class="card-departamento">
                        <p>Games</p>
                        <img src="/img/image 86.png">
                    </div>
                </div>
            </section>

            <section id="carrossel-1">
                <div>
                    <img src="">
                    <h2>PRODUTOS EM DESTAQUE</h2>
                </div>

                <div id="cards">
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/mouseft1.jpg" alt="">
                        <h3>Mouse Gamer Redragon Cobra M711 V2</h3>
                        <p class="precoDe">R$ 176,35</p>
                        <p class="precoPor">R$ 99,90</p>
                        <div id="button">
                            <a href="/produtos"><button>COMPRAR AGORA</button></a> 
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/fonerazerft1.jpg" alt="">
                        <h3>Headset Gamer Razer BlackShark V2 X</h3>
                        <p class="precoDe">R$ 450,71</p>
                        <p class="precoPor">R$ 289,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/ssdft1.jpg" alt="">
                        <h3>SSD Kingston A400, 480GB, SATA</h3>
                        <p class="precoDe">R$ 541,06</p>
                        <p class="precoPor">R$ 299,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                    <div class="card-produto">
                        <img src="/img/Star.svg">
                        <img src="/img/memoriaft1.jpg" alt="">
                        <h3>Memória Gamer Husky Gaming 8GB, DDR4</h3>
                        <p class="precoDe">R$ 300,12</p>
                        <p class="precoPor">R$ 229,90</p>
                        <div id="button">
                            <button>COMPRAR AGORA</button>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>