<!DOCTYPE html>
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/meusdados.css">

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="titulo">
            <img src="/img/iconelogin.svg" alt="Ícone login">
            <h1>IDENTIFICAÇÃO</h1>
        </div>

        <section class="meusdados" id="meusdados">
            <div class="dadosbasicos">
                <div class="db-titulo2">
                    <img src="/img/iconecadastrar.svg" alt="Ícone dados">
                    <h2>Quero me Cadastrar</h2>
                </div>
                <form class="db-dados" action="/cadastrar" method="post">
                    <div>
                        <label for="nomecompleto">Nome Completo*</label>
                        <br>
                        <input type="text" id="nomecompleto" name="nome" placeholder="Nome Completo">
                    </div>
                    <div>
                        <label for="email-login">E-mail/Login*</label>
                        <br>
                        <input type="email" id="emailLogin" name="email" placeholder="email@email.com">
                    </div>
                    <div>
                        <label for="cadastropf">CPF*</label>
                        <br>
                        <input type="number" id="cadastropf" name="cpf" placeholder="xxx.xxx.xxx-xx">
                    </div>
                    <div>
                        <label for="senha">Crie sua senha*</label>
                        <br>
                        <input type="password" id="senha" name="senha" placeholder="6 dígitos ou mais">
                        <img src="/img/iconecadeado.svg" alt="Ícone cadeado">
                    </div>
                    <!-- <div>
                        <label for="senha">Confirme sua senha*</label>
                        <br>
                        <input type="password" id="senha-confirma" name="confirma-senha" placeholder="6 dígitos ou mais">
                        <img src="/img/iconecadeado.svg" alt="Ícone cadeado">
                    </div> -->
                    <div>
                        <label for="cependereco">CEP*</label>
                        <br>
                        <input type="number" id="cependereco" name="cep" placeholder="Cep">
                    </div>
                    <div>
                        <label for="cidade">Cidade</label>
                        <br>
                        <input type="text" id="cidade" name="cidade" placeholder="cidade">
                    </div>
                    <div>
                        <label for="estado">estado</label>
                        <br>
                        <input type="text" id="estado" name="estado" placeholder="estado">
                    </div>
                    <div>
                        <label for="bairro">bairro</label>
                        <br>
                        <input type="text" id="bairro" name="bairro" placeholder="bairro">
                    </div>
                    <div>
                        <label for="rua">rua</label>
                        <br>
                        <input type="text" id="rua" name="rua" placeholder="rua">
                    </div>
                    <div>
                        <label for="numero">numero</label>
                        <br>
                        <input type="number" id="numero" name="numero" placeholder="numero">
                    </div>
                    <div>
                        <label for="complemento">complemento</label>
                        <br>
                        <input type="text" id="complemento" name="complemento" placeholder="complemento">
                    </div>
                    <div>
                        <label for="sexo">Sexo*</label>
                        <br>
                        <input type="radio" id="masculino" name="sexo" value="M">
                        <label for="masculino">Masculino</label>
                        <input type="radio" id="feminino" name="sexo" value="F">
                        <label for="feminino">Feminino</label>
                        <input type="radio" id="naoresponder" name="sexo" value="N">
                        <label for="naoresponder">Prefiro não informar</label>
                    </div>
                    <div>
                        <label for="datanascimento">Data nascimento*</label>
                        <br>
                        <input type="date" id="datanascimento" name="data_nascto_cliente">
                    </div>
                    <div>
                        <label for="telefonecelular">Telefone Celular*</label>
                        <br>
                        <input type="tel" id="telefonecontato" name="celular" placeholder="Celular">
                    </div>
                    <br>
                    <div>
                        <input type="checkbox" id="receberemails" name="receberemails">
                        <label for="receberemails">Quero receber ofertas e novidades por e-mail, SMS, Whatsapp ou
                            Mensagens!</label>
                    </div>
                    <div class="botaosalvar">
                        <button type="submit"><img src="/img/iconecadastrar2verde.svg" alt="">
                            Cadastrar</button>
                    </div>
                </form>

            </div>
            <div class="endereco">
                <div class="ed-titulo2">
                    <img src="/img/iconejacadastro.svg" alt="Ícone login">
                    <h2>Já tenho Cadastro</h2>
                </div>
                <form action="/login" method="POST">
                    <div class="ed-principal">
                        <div>
                            <label for="login">E-mail</label>
                            <br>
                            <input type="email" id="login" name="emaillogin" placeholder="E-mail">
                        </div>
                        <div>
                            <label for="senhalogin">Senha*</label>
                            <br>
                            <input type="password" id="senhalogin" name="senhalogin" placeholder="Senha">
                        </div>
                        <div class="botaologin">
                            <button type="submit"><img src="/img/iconeentrarverde.svg" alt="">Entrar</button>

                        </div>
                        <div class="botoesend01">
                            <!-- <button >Esqueci meus Login</button> -->
                            <button data-modal="abrir">Esqueci minha Senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="modal-container" data-modal="container">
            <div class="modal">
                <h2>ESQUECI MEUS DADOS DE ACESSO</h2>
                <button data-modal="fechar" class="fechar">X</button>
                <div class="content-modal">
                    <input type="email" placeholder="Digite seu e-mail ou CPF">
                    <button type="button" id="enviar">Enviar</button>
                </div>
            </div>
        </section>

        <section id="mini-banner">
            <div class="banners-org">
                <div class="estrutura-cards">
                    <div class="card-mini-banner">
                        <div>
                            <p>OFERTA ESPECIAL DE CONSOLE PS5</p>
                            <p>34% OFF</p>
                        </div>
                        <img src="/img/mini-1.png">
                    </div>
                </div>
                <div class="estrutura-cards">
                    <div class="card-mini-banner">
                        <div>
                            <p>MONITOR GAMER COM</p>
                            <p>40% OFF</p>
                        </div>
                        <img src="/img/mini-2.png">
                    </div>
                </div>

            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/js/meusdados.js" defer></script>

</body>

</html>