<!DOCTYPE html>
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/pagamento.css">
<title>Pagamento</title>
</head>

<body>

    <%- include('../partials/header') %>
    <main>

        <div class="titulo">
            <img src="/img/iconecartao.svg" alt="Ícone carrinho">
            <h1>PAGAMENTO</h1>
        </div>

        <section class="pagamento">

            <div class="escolhaformapagamento">
                <button><img src="/img/iconepix.svg" alt="">
                    <p>PIX</p>
                </button>
                <button><img src="/img/iconeboleto.svg" alt="">
                    <p>Boleto Bancário</p>
                </button>
                <button><img src="/img/iconecartao.svg" alt="">
                    <p>Cartão de Crédito</p>
                </button>
            </div>

            <div class="titulopagamento">
                <div class="pagamentopix">
                    <h3>Pix <br> A melhor opção para suas compras à vista!
                    </h3>
                    <p>Pague com PIX e aproveite até 15% OFF. Nessa modalidade, seu pedido é aprovado instantaneamente,
                        o que torna a expedição do seu pedido ainda mais rápida.
                        <br><br>O que você precisa saber antes de pagar por PIX:
                        É necessário possuir uma chave PIX cadastrada no seu Banco;
                        Com o seu celular, basta escanear o QR Code ou copiar o código para efetivar a compra;
                        O pagamento é processado e debitado do valor em sua conta corrente;
                        Como padrão, o Banco Central limitou os pagamentos no período das 20h às 06h, a valores de até
                        R$1.000. Mas você
                        pode solicitar o aumento do limite deste período diretamente com o seu banco, pela Central de
                        Atendimento ou
                        APP. O prazo de liberação é de até 48h.
                    </p>
                </div>
                <div class="pagamentoboleto">
                    <h3>Boleto Bancário
                    </h3>
                    <p>Boleto tem até 15% de desconto* na compra e é a forma de pagamento que recebe o maior desconto
                        sob o valor total da compra. Esta é a forma mais vantajosa para quem deseja pagar à vista.
                    </p>
                </div>
                <div class="pagamentocartao">
                    <h3>Cartão de Crédito
                    </h3>
                    <p>À vista com até 10% de desconto* ou tudo em até 10x sem juros!
                        A XXXXXX! aceita as bandeiras de cartão VISA, MasterCard, ELO, HiperCard, American Express e
                        Diners - Todos em até 10x sem juros ou com desconto em até 3x!
                    </p>
                </div>
            </div>

            <div class="totalcompra">
                <p>Total da sua compra:</p>
                <span>R$ xxx,xx</span>
            </div>

            <div class="descontopix">
                <p>Pagamento via PIX:</p>
                <span>R$ xxx,xx</span>
                <p>(Economize R$ xx,xx)</p>
            </div>

            <div class="botoesfinalizar">
                <button>Voltar</button>
                <button>Pagar com PIX</button>
            </div>

        </section>

        <section id="mini-banner">

            <div class="banners-org">
                <div class="estrutura-cards">
                    <div class="card-mini-banner">
                        <div>
                            <p>OFERTA ESPECIAL DE CONSOLE PS5</p>
                            <p>34% OFF</p>
                        </div>
                        <img src="/img/mini-1.png">
                    </div>
                </div>

                <div class="estrutura-cards">
                    <div class="card-mini-banner">
                        <div>
                            <p>MONITOR GAMER COM</p>
                            <p>40% OFF</p>
                        </div>
                        <img src="/img/mini-2.png">
                    </div>
                </div>

            </div>

        </section>


        <%- include('../partials/footer') %>

</body>

</html>