<!DOCTYPE html>
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/politicastermos.css">

<body>

    <%- include('../partials/header') %>
    <main>
        <div class="titulo">
            <h1 class="title">POLÍTICAS DE PRIVACIDADE</h1>
        </div>
        <section class="text">
            <div class="texto">
                <p>Prezado Cliente, Quando você compra na LOJAX você nos confia seus dados pessoais. É
                    pensando na
                    manutenção desta confiança que criamos nossa Política de Privacidade e Proteção de Dados Pessoais:
                    nela
                    é possível entender as nossas práticas sobre o tratamento dos seus dados. A LOJA X entende que é
                    fundamental explicar de modo transparente nossos processos de tratamento de dados, bem como
                    esclarecer
                    seus direitos como titular destes dados. Esta política se aplica à todas as pessoas que interagem
                    com
                    nossos serviços de Comércio Eletrônico na plataforma web e no aplicativo móvel. Lembrando que alguns
                    dados são necessários para a prestação de nossos serviços. Desta forma, caso você não os queira
                    fornecer, poderá optar por não utilizar nossa plataforma/aplicativo. Alguns outros dados não terão o
                    caráter obrigatório, mas a ausência de seu consentimento poderá comprometer a prestação dos nossos
                    serviços a você, como é o caso de recursos terem sua formatação e funcionalidades limitadas em nossa
                    plataforma/aplicativo. A LOJA X é a controladora dos dados pessoais tratados em nossa
                    plataforma/aplicativo.
                </p>
            </div>
        </section>

        <div id="politics-div">
            <a href="">
                <h2 class="politica">CLIQUE AQUI PARA<br>ACESSAR NOSSA<br>POLÍTICA DE PRIVACIDADE</h2>
            </a>
        </div>
    </main>
    <%- include('../partials/footer') %>

</body>

</html>