<!DOCTYPE html>
<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <h1>SUPORTE</h1>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>