<!DOCTYPE html>
<%- include('../partials/head') %>
<title>Termos de Uso</title>
</head>

<body>

    <%- include('../partials/header') %>
    <main>
        <h1>Termos de Uso</h1>

        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dolore illo, repellat atque quaerat
                molestiae quod impedit aliquam deserunt fugit iure alias odit commodi distinctio ullam debitis non
                libero magnam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum beatae architecto quod doloremque
                doloribus excepturi esse quis incidunt officia debitis eligendi reiciendis eum sed, quas consectetur.
                Soluta, doloremque quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem, architecto ullam non sed vitae,
                quod nihil et quis illo aliquam hic quos repellat! Id dolor nulla eum voluptatem voluptate.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tenetur modi consequuntur, ipsum excepturi
                doloribus rem nobis, in accusamus labore at obcaecati culpa. Reprehenderit dolor omnis fuga quia,
                distinctio corrupti.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos id aspernatur dolorem vel nisi,
                doloremque possimus veniam assumenda. Voluptatum expedita sequi fugiat nam ut sit quisquam fugit dolores
                suscipit.</p>
        </article>

    </main>
    <%- include('../partials/footer') %>

</body>

</html>